/* stile della pagina */
.container{
  width: 1078px;
  margin: 0 auto;
}
/* stile colonne */
[class*="col-"]{
  height: 200px;
  border: 1px solid black;
  background-color: pink;
}

[class*="col-"] p{
  text-align: center;
  padding-top: 84px;
}

/* stile delle colonne nested */
.nested{
  background-color: red;
}
/* stile colonne offset */
[class*="col-offset-"]{
  height: 200px;
  background-color: blue;
}
/* clearfix */
.row:after{
  content: "";
  display: table;
  clear: both;
}
